
@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Coding Dojo</h1>
<form asp-controller="Home" asp-action="Quotes" method="post">
    Your Name: <input type="text" name="djquotes">
    Your Quote: <textarea name="quotext" id="" cols="30" rows="10" placeholder="Your quote..."></textarea>
    <button class="btn btn-info" type="submit">Add my quote!</button>
</form>
<p></p>
<a class="btn btn-success" href="Home/Quotes" method="get">Skip to quotes!</a>

