@{
    ViewData["Title"] = "Home Page";
}

<h1>Here are the awesome quotes!</h1>

<table>
<tr>
    <th>Quoter</th>
    <th>Quote</th>
</tr>
@foreach(var i in @ViewBag.AllUsers){
<tr>
    <td>@i["quoter"]</td>
    <td>@i["quote"]</td>
</tr>
}
</table>