@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Lost in the Woods</title>
</head>
<body>
    <div class="container">
        <h1>Lost in the Woods</h1>
        <h3>List of local hiking trails</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Trail Name</th>
                    <th scope="col">Trail Length</th>
                    <th scope="col">Elevation Change</th>
                </tr>
            </thead>
            <tbody>
                
                    @{foreach(Trail trail in ViewBag.Trails)
                    {
                        <tr>
                            <td><a href="ShowTrail/@trail.Id">@trail.Name</a></td>
                            <td>@trail.Length miles</td>
                            <td>@trail.Elevation feet</td>
                        </tr>
                    }}
                    
            </tbody>
        </table>
        <a href="NewTrail"><button type="button" class="btn btn-outline-primary">New Trail</button></a>
    </div>
</body>
</html>

