<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">kals;djf;lksdjf;lkajds;fklajsfdkl;jasdfkljaiagnjkdlfhaksdjfhbal fe
                la sdfa ufbawefawifh af wfih awiuhfiafhfiuhwe aiufa fweifb
                hiuwhfaiweifawebf ibfweifba eifaiwebf af
            </p>
        </div>
        </div>
    </body>
</html>