<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @{
        var StringList = new []{
                                "Cat",
                                "dog",
                                "car",
                                "camel",
                                "Card",
                                "bird"
                            };
        
     
    }
     
    @foreach(var word in StringList)
    {
       <div>
          
          @if(word.ToLower().StartsWith('c'))
          {
             <p style="color:red;">@word</p>
          }
          else
          {
              <p>@word</p>
          }
       </div>
    }


    
</body>
</html>