<div class="message">
    <a href="/">Messages</a>
    <a href="/users">Users</a>
    <a href="/numbers">Numbers</a>
    <a href="/user">User</a>
    <h1>Here is a Message!</h1>    
    <p>
    @Model
    </p>
</div>
