<div class="numbers">
    <a href="/">Messages</a>
    <a href="/users">Users</a>
    <a href="/numbers">Numbers</a>
    <a href="/user">User</a>
    <h1>Here are some numbers!</h1>    
    <p>
    @{
        foreach(var i in @Model){
            <p>@i</p>
        }
    }
    </p>
</div>