<div class="users">
    <a href="/">Messages</a>
    <a href="/users">Users</a>
    <a href="/numbers">Numbers</a>
    <a href="/user">User</a>
    <h1>Here are some Users!</h1>    
    <p>
    @Model.FirstName @Model.LastName
    </p>
    

</div>