<div class="container">
        <form>
            <div class="form-group">
                <div class="dojoTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="column"></th>
                                <th scope="column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Your Name:</th>
                                <td><input class="form-control" type="text" name="fullname"></td>
                            </tr>
                            <tr>
                                <th scope="row">Dojo Location:</th>
                                <td><input class="form-control" type="text" name="location"></td>
                            </tr>
                            <tr>
                                <th scope="row">Favorite Language:</th>
                                <td><input class="form-control" type="text" name="language"></td>
                            </tr>
                            <tr>
                                <th scope="row">Commnent(optional):</th>
                                <td><textarea class="form-control" name='comments'></textarea></td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>




    </div>